* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color:rgb(234, 93, 62);
}

.head nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color:yellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
nav h1{
    font-size: x-large;
    padding: 2%;
}
nav ul{
    display: inline;
    padding-right: 4%;

}
nav li{
    display: inline;
    font-size: larger;
    font-weight: bold;    
}
nav li:hover{
    color: red;
    cursor: pointer;
}

.greeting h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 2%;
    margin-top: 3%;  
    text-align: center;    
    color: rgb(38, 8, 157);
}
.information{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    color:black;
    padding: 3%;
    font-size: medium;
}
.search{
  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.About{
    color:black;
    text-align: center;
}
.Product{
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: space-evenly;
     padding: 3%;
}